<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Leaflet.GeoCSV by joker-x</title>

    <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Leaflet.GeoCSV</h1>
        <p>Leaflet plugin for loading a CSV file as geoJSON layer</p>

        <p class="view"><a href="https://github.com/joker-x/Leaflet.geoCSV">View the Project on GitHub <small>joker-x/Leaflet.geoCSV</small></a></p>


        <ul>
          <li><a href="https://github.com/joker-x/Leaflet.geoCSV/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/joker-x/Leaflet.geoCSV/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/joker-x/Leaflet.geoCSV">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>

{{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/joker-x">joker-x</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.path }}javascripts/scale.fix.js"></script>
    
  </body>
</html>
